@use '@carbon/styles/scss/breakpoint' as *;
@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/theme';

.app-header {
    position: sticky;
    min-height: 5rem;
    top: 0;
    left: 0;
    background-color: #282c34;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__title-with-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    &__title {
        color: colors.$white !important;
    }

    .cds--side-nav__navigation,
    .cds--side-nav__overlay.cds--side-nav__overlay-active {
        margin-top: 1.95rem;
    }

    @include breakpoint(66rem) {
        .site-side-nav-panel {
            display: none;
        }
    }

    .cds--side-nav__overlay.cds--side-nav__overlay-active {
        max-height: 95vh;
    }

    .header-menu-btn {
        &.is-closed {
            svg {
                fill: colors.$white;
            }
        }
    }

}