.record-input-form {
    .date-btn-group {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }
}